---
import { db, posts } from '../../db/index.js';
import Layout from '../../layouts/Layout.astro';

const allPosts = await db.select().from(posts).orderBy(posts.publishedAt, 'desc');
---

<Layout title="博客列表">
  <h1>我的博客</h1>
  <ul>
    {allPosts.map(post => (
      <li>
        <a href={`/blog/${post.slug}`}>{post.title}</a>
        <small> - {new Date(post.publishedAt).toLocaleDateString()}</small>
      </li>
    ))}
  </ul>
</Layout>